<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/cadastro.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Cadastro</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid ">
            <a class="navbar-brand" href="index.html">
                <h1 class="m-0 texto-logo">
                    <img class="logo" src="img/logo.png" alt="logotipo">
                    Sabedoria+
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-4">
                        <a class="nav-link botao-nav2 " aria-current="page" href="/">Início</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link botao-nav2" href="sobreNos">Sobre Nós</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link botao-nav" style="border: 1px solid #FF0751"
                            href="mentores">Mentores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botao-nav active" style="border: 1px solid #FF0751"
                            href="cadastro">Cadastro</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- fim navbar -->

    <main>
        <div class="titulo-1">
            <img src="./img/Learn and grow with (1).png" alt="">
        </div>
        <div class="card mb-3 container-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./img/Rectangle.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Explore Oportunidades de Crescimento</h5>
                        <p class="card-text">Como mentorado, você terá a oportunidade de ser guiado por profissionais
                            experientes em sua área de
                            interesse.
                            Nossa comunidade está aqui para oferecer suporte, orientação e conselhos valiosos para
                            ajudá-lo a
                            atingir seus
                            objetivos e maximizar seu potencial. Junte-se a nós para uma jornada de aprendizado mútuo e
                            crescimento.</p>
                        <div class="link">

                            <a href="cadastrarMentorado" class="btn btn-primary btn-secondary">QUERO TER MENTORIA</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="alinhar-img">
            <img src="./img/Rectangle 55.png" alt="">
        </div>
        <div class="titulo-1">
            <img src="./img/Learn and grow with (2).png" alt="">
        </div>
        <div class="card mb-3 container-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./img/Rectangle 57.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Junte-se à Nossa Missão: Construir, Conectar, Capacitar</h5>
                        <p class="card-text">

                            Nosso compromisso vai além de oferecer mentorias. Estamos construindo uma comunidade onde a
                            experiência encontra a inovação, onde a jornada encontra o impulso. Juntos, estamos
                            transformando a narrativa do envelhecimento e da carreira, pavimentando o caminho para um
                            futuro mais inclusivo, diversificado e próspero.</p>
                        <div class="link">

                            <a href="cadastrarMentor" class="btn btn-primary btn-secondary">QUERO SER MENTOR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

    <!-- Rodapé -->
    <footer class="rodape">
        <p class="card-text py-3" id="rodape-color">2023 <i class="bi bi-c-circle"></i> Desenvolvido pelo Squad 20 |
            Projeto fictício
            para Recode Pro 2023.</p>
        <DIV>
            <img src="img/icons8-whatsapp-48 (1).png" alt="whatsApp">
            <img src="img/icons8-instagram-48 (1).png" alt="Instagram">
            <img src="img/icons8-facebook-novo-48.png" alt="facebook">
        </DIV>
    </footer>




    <script src="./script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>