<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Listagem de Monitorias</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container justify-content-start">
			<a class="navbar-brand" href="/listarMentor">Mentores</a>
			<a class="navbar-brand" href="/listar">Mentorados</a>
			<a class="navbar-brand" href="/listarMonitorias">Monitorias</a>
			<a class="navbar-brand" href="/">Sair</a>
		</div>
	</nav>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Listagem de Monitorias</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Mentor</th>
							<th scope="col">Cliente</th>
							<th scope="col">Horário</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monitoria : ${monitorias}">
							<th scope="row" th:text="${monitoria.id}"></th>
							<td th:text="${monitoria.mentor.nome}"></td>
							<td th:text="${monitoria.cliente.nome}"></td>
							<td th:text="${#temporals.format(monitoria.horario, 'dd/MM/yyyy HH:mm')}"></td>
							<td>
							<td>
								<a th:href="@{'/excluirMonitoria?id=' + ${monitoria.id}}" class="btn btn-danger"
									onclick="return confirm('Tem certeza que deseja excluir a monitoria?');">
									Excluir
								</a>
							</td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="/cadastrarMonitoria" class="btn btn-primary">Cadastrar Nova Monitoria</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>