<!DOCTYPE html>
<html lang="PT_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/sobrenos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="stylesheet" href="style/style.css">
    <title>Sobre Nós</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/">
        <h1 class="m-0 texto-logo">
          <img class="logo" src="img/logo.png" alt="logotipo">
          Sabedoria+
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-4">
            <a class="nav-link botao-nav2 " aria-current="page" href="/">Início</a>
          </li>
          <li class="nav-item me-4">
			<a class="nav-link botao-nav2 active" href="sobreNos">Sobre Nós</a>
          <li class="nav-item me-4">
            <a class="nav-link botao-nav " href="mentores">Mentores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botao-nav" href="cadastro">Cadastro</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- fim navbar -->
    <main id="main" class="container">

        <!--div_sobrenos-->
        <div class="principal">
            <div class="sobreNos">
                <H1 class="textoprincipal">Sobre Nós</H1>
            </div>

        </div>
        <!--fimdiv_sobrenos-->

        <!--div_mentores-->
        <div>
            <div class="mentores">

                <div>
                    <H2 class="text1">Nossos Mentores. </H2>
                    <h3 class="text2">Somos uma comunidade de mais de 6.000 profissionais ambiciosos, indo mais longe a
                        cada dia.</h3>
                </div>
                <div class="  container d-flex flex-row bd-highlight mb-3 flex-wrap">
                    <div class="container d-flex flex-row bd-highlight mb-3 flex-wrap">
                        <div class="col-md-3">
                            <div class="box1">
                                <img src="img/Simone.png" />
                                <h3 class="nomes">Natalia Reyes</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box1">
                                <img src="img/Alberto.png" />
                                <h3 class="nomes">Kyle Reese</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box1">
                                <img src="img/Flavio Raul.png" />
                                <h3 class="nomes">John Connor</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box1">
                                <img src="img/pexels-karolina-grabowska-8531199 (2).jpg" />
                                <h3 class="nomes">Dolores Abern</h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <h5>
                        <p class="p1">Nossa visão é criar uma plataforma digital com atividades que estimulem as funções
                            e interação social entre indivíduos e incentivem o fortalecimento dos vínculos afetivos
                            entre idosos e jovem, contribuindo para manter a mente ativa do idoso, a desenvolver
                            capacidade profissional dos jovens e melhorar a empatia de ambos.
                        </p>
                    </h5>

                </div>
            </div>
            <!--fimdiv_Mentores-->

            <!--CONSIDERAÇOES-->
            <div id="backGroud" class="container flex-wrap text-center">
                <div id="divtextvitoria" class="container  flex-wrap text-center">
                    <H2 class=" aquievitoria   container text-center">AQUI A VITORIA É DE TODOS <br> NÓS <br> </H2>
                </div>
                <div class="container">
                    <div class=" flex-wrap row justify-content-lg-between text-md-center">
                        <div class="comentarios1">
                            <img class="imagem" src="img/Mask.svg">
                            <h5>Jhon e eu conversamos sobre as decisões de campo de carreira e meu portfólio. Eu
                                realmente
                                apreciei seu feedback e conselhos. :)</h5>
                        </div>
                        <div class="comentarios2">
                            <img class="imagem" src="img/Mask (2).svg">
                            <h4>A mentoria não poderia ter sido melhor,sendo sempre solicita e animada me auxiliando em
                                toda
                                a Mentoria.</h4>
                        </div>
                        <div class="comentarios3">
                            <img class="imagem" src="img/Mask (3).svg">
                            <h4>Consegui um estagio e logo em seguida uma efetivação ainda durante o precesso da
                                Mentoria.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="container flex-wrap">
                    <h3 id="textofinal1" class="text-center">Seu próximo capítulo, é possível com orientação.</h3>
                    <h4 id="textofinal2" class="text-center">Explore mais de 6.000 mentores de mais de 26 estados para
                        ajudá-lo a alcançar e superar quaisquer
                        desafios que enfrentar.</h4>
                </div>
            </div>
            <!--FIMCONSIDERAÇOES-->

        </div>


    </main>


    <!-- Rodapé -->
    <footer class="rodape">
        <p class="card-text py-3">2023 <i class="bi bi-c-circle"></i> Desenvolvido pelo Squad 20 | Projeto fictício
            para Recode Pro 2023.</p>
        <DIV>
            <img src="img/icons8-whatsapp-48 (1).png" alt="whatsApp">
            <img src="img/icons8-instagram-48 (1).png" alt="Instagram">
            <img src="img/icons8-facebook-novo-48.png" alt="facebook">
        </DIV>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>